#mwb_isfw_pdf_admin_order_icon span a img{
    margin: 1px 2px;
    float: left;
}
.toplevel_page_mwb-plugins div img {
    width: 30px;
}
.mwb_isfw_plugin_extra_custom_tab{
    width: 20px;
    padding-right: 5px;
}
.mwb-form-group__control #isfw_upload_invoice_company_logo,.mwb-form-group__control #isfw_invoice_company_logo_image_remove {
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}
.mwb-form-group__control #isfw_upload_invoice_company_logo {

background-color: #5cb85c;
}
.mwb-form-group__control #isfw_invoice_company_logo_image_remove {
background-color: #d9534f;
}
.mwb-form-group__control #isfw_upload_invoice_company_logo:hover,.mwb-form-group__control #isfw_invoice_company_logo_image_remove:hover {
    cursor: pointer;
}
.isfw-section-wrap .mwb-isfw-multi .mwb-form-group__control label {
   margin: 0 10px 10px 0;
}
.mwb-isfw-date-picker-group {
    position: relative;
}
.mwb-isfw-month-selector {
   left: 30px;
}
.mwb-isfw-month-selector,.mwb-isfw-date-selector {
    position: absolute;
}
.mwb-isfw-date-picker-group select {
    margin-top: 24px;
}
.mwb-isfw-date-picker-group select.isfw_invoice_number_renew_month {
    margin-right: 20px;
} 