#mwb_isfw_pdf_admin_order_icon span a img{
    margin: 1px 2px;
    float: left;
}
.toplevel_page_mwb-plugins div img {
    width: 30px;
}
.mwb_isfw_plugin_extra_custom_tab{
    width: 20px;
    padding-right: 5px;
}